.youtube {
  color: #EE0F0F;
}

.quote-bar {
  text-align: center;
  font-style: italic;
}

.md-footer a[title="LinkedIn"] svg {
    fill: #0077B5 !important; 
    color: #0077B5 !important;
}

.md-footer a[title="YouTube"] svg {
    fill: #FF0000 !important; 
    color: #FF0000 !important;
}

.md-footer a[title="LinkedIn"]:hover svg {
    fill: #005983 !important;
    color: #005983 !important;
}

.md-footer a[title="YouTube"]:hover svg {
    fill: #CC0000 !important;
    color: #CC0000 !important;
}

@media screen and (min-width: 1220px) {
  .md-tabs__item a[data-tooltip],
  .md-nav__link[data-tooltip] {
    position: relative;
  }

  .md-tabs__item a[data-tooltip]::after,
  .md-nav__link[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -1.5em;            
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75em;
    padding: 2px 2px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 20;
    color: white;
  }

  .md-tabs__item a:hover::after,
  .md-nav__link:hover::after {
    opacity: 1;
  }
}